.icon-left {
    display: inline-block;
    left: 10px;
    top: 10px;
}

.icon-right {
    display: inline-block;
    right: 10px;
    top: 10px;
}

.text {
    display: inline-block;
    font-size: 3rem;
    margin: 0 4rem;
}

.season-display {
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.summer {
    background-color: orange;
}

.winter {
    background-color: aliceblue;
}

.dimmer {
    background-color: azure;
}